<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPG-BACKEND APIS</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="p-2 bg-yellow-100">
        <h1 class="font-bold">DOCUMENTACIÓN DE APIS - EPG!</h1>

        <div class="flex gap-2 mt-5">
            <ul>
                <li>
                    <a class="underline" href="admin/">Admin</a>
                </li>

                <li>
                    <a class="underline" href="economicos/">Economicos</a>
                </li>
                <li>
                    <a class="underline" href="academicos/">Academicos</a>
                </li>
                <li>
                    <a class="underline" href="report1/">Reporte-Economico</a>
                </li>
                <li>
                    <a class="underline" href="report2/">Reporte-Academico</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>